{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create account" %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1><span class="glyphicon glyphicon-user"></span> {% trans "Create account" %}</h1>
    <form class="create-account" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit" %}</button>
    </form>
{% endblock %}

{% block extra-script %}
<script src="{% static 'js/libs/mailcheck.min.js' %}"></script>
<script src="{% static 'build/registration_form.js' %}"></script>
{% endblock %}
