Django==1.9.12
django-allauth==0.30.0
django-appconf==1.0.2
django-autocomplete-light==3.2.1
django-braces==1.10.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-extensions==1.7.5
https://github.com/zsiciarz/django-geoposition/archive/0e3210655bc6b19a85511d8d97e54a903cc1f6c1.zip#egg=django-geoposition
django-model-utils==2.6.0
dj-pagination==2.2.1
ephem==3.7.6.0
frogress==0.9.1
gunicorn==19.6.0
ipython==5.1.0
lxml==3.7.1
psycopg2==2.6.2
pyaavso==0.2
pygcvs==1.1
raven==5.32.0
requests==2.12.4
six==1.10.0
