Django==1.9.10
django-allauth==0.27.0
django-appconf==1.0.2
django-autocomplete-light==3.1.8
django-braces==1.9.0
django-crispy-forms==1.6.0
django-debug-toolbar==1.5
django-extensions==1.7.4
https://github.com/zsiciarz/django-geoposition/archive/a803f73558ce156fdef77ce584573a15c9114915.zip#egg=django-geoposition
django-model-utils==2.6.0
ephem==3.7.6.0
frogress==0.9.1
gunicorn==19.6.0
ipython==5.1.0
# linaro-django-pagination==2.0.3
https://github.com/zyga/django-pagination/archive/86caf150984733eb5a0bb07af26cd8fc0a8d8496.zip#egg=linaro_django_pagination
lxml==3.6.4
psycopg2==2.6.2
pyaavso==0.1.5
pygcvs==1.0
raven==5.27.1
requests==2.11.1
six==1.10.0
