Django==1.10.7
django-allauth==0.31.0
django-autocomplete-light==3.2.1
django-braces==1.11.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-extensions==1.7.8
https://github.com/zsiciarz/django-geoposition/archive/0e3210655bc6b19a85511d8d97e54a903cc1f6c1.zip#egg=django-geoposition
django-model-utils==2.6.1
dj-pagination==2.2.1
ephem==3.7.6.0
frogress==0.9.1
gunicorn==19.7.1
ipython==5.3.0
lxml==3.7.3
psycopg2==2.7.1
pyaavso==0.2
pygcvs==1.1
raven==6.0.0
requests==2.13.0
six==1.10.0
