{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign in" %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1><span class="glyphicon glyphicon-user"></span> {% trans "Sign in" %}</h1>
            <ul class="list-inline">
                <li>
                    <span class="glyphicon glyphicon-lock"></span>
                    <a href="{% url 'observers:reset_password' %}">{% trans "Forgot password?" %}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <form class="sign-in" action="{% url 'auth_login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
    </form>
{% endblock %}
