{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1><span class="glyphicon glyphicon-lock"></span> {% trans "Reset password" %}</h1>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form class="change-password" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Change password" %}</button>
    </form>
{% endblock %}
