{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create account" %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1><span class="glyphicon glyphicon-user"></span> {% trans "Create account" %}</h1>
    <form class="create-account" action="{% url 'registration_register' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit" %}</button>
    </form>
{% endblock %}

{% block extra-script %}
<script src="{{ STATIC_URL }}js/libs/mailcheck.min.js"></script>
<script>
(function ($) {
    $(document).ready(function () {
        $("#id_email").on('blur', function () {
            var removeSuggestions = function (element) {
                $(element).parent().find(".help-block").remove();
            };
            $(this).mailcheck({
                suggested: function (element, suggestion) {
                    removeSuggestions(element);
                    var suggestedLink = $("<a href='#'>").text(suggestion.full);
                    suggestedLink.on('click', function () {
                        $("#id_email").val(suggestion.full);
                        removeSuggestions(element);
                        return false;
                    });
                    $("<span class='help-block'/>")
                        .text("Did you mean ")
                        .append(suggestedLink)
                        .append("?")
                        .insertAfter(element);
                },
                empty: function (element) {
                    removeSuggestions(element);
                }
            });
        });
    });
})(jQuery);
</script>
{% endblock %}
