{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ observer }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1><span class="glyphicon glyphicon-user"></span> {{ observer }}</h1>
            <ul class="list-inline">
                {% if observer.aavso_code %}
                    <li>
                        <span class="text-muted">AAVSO:</span> {{ observer.aavso_code }}
                    </li>
                {% endif %}
                {% if observer.city %}
                <li>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <a href="#">{{ observer.city }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="well observer-box">
                {% if observer == current_observer %}
                    <h3>{% trans "This is you!" %}</h3>
                    <a href="{% url 'observers:observer_edit' %}">{% trans "Edit profile" %}</a>
                {% else %}
                    <h3 class="text-muted">TODO</h3>
                    <span class="text-muted">TODO</span>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ observer.observations.count }}</h1>
            <h2>{% trans "observations" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observer.observed_stars_count }}</h1>
            <h2>{% trans "stars" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            {% if observer == current_observer %}
                <a href="{% url 'observations:add_observation' %}" class="btn btn-lg btn-primary" style="margin-top: 20px;">{% trans "Submit observations!" %}</a>
            {% else %}
                <h1>45</h1>
                <h2>{% trans "stars in common with you" %}</h2>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <h2>{% trans "Top stars" %}</h2>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Star" %}</th>
                        <th>{% trans "Observations" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for star in observer.top_stars|slice:":5"%}
                    <tr>
                        <td><a href="{% url 'stars:star_detail' pk=star.star_id %}">{{ star.star__name }}</a></td>
                        <td>{{ star.observations_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-9">
            <h2>{% trans "Recent observations" %}</h2>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Star" %}</th>
                        <th>{% trans "Julian Date" %}</th>
                        <th>{% trans "Brightness" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observation in observer.recent_observations|slice:":5"%}
                    <tr>
                        <td><a href="{{ observation.star.get_absolute_url }}">{{ observation.star }}</a></td>
                        <td>{{ observation.jd|floatformat:4 }}</td>
                        <td>{{ observation.magnitude }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
