{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit profile" %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1><span class="glyphicon glyphicon-cog"></span> {% trans "Edit profile" %}</h1>
            <ul class="list-inline">
                <li>
                    <span class="glyphicon glyphicon-lock"></span>
                    <a href="{% url 'observers:change_password' %}">{% trans "Change password" %}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <form class="sign-in" action="{% url 'observers:observer_edit' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Save" %}</button>
    </form>

{% endblock %}
