{% load url from future %}{% load i18n %}{% load compress %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}variablestars.net{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="@zsiciarz">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/bootstrap.less">
  {% endcompress %}
  {% block extra-style %}{% endblock %}
  {% if debug %}
    <script src="{{ STATIC_URL }}js/libs/less-1.4.1.min.js"></script>
  {% endif %}
</head>

<body>
      <header class="navbar navbar-default" role="navigation">
        <div class="container">
            <nav>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main' %}">variablestars.net</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main' %}">{% trans "Home" %}</a></li>
                        <li><a href="#">{% trans "Stars" %}</a></li>
                        <li><a href="#">{% trans "Observers" %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{% trans "Sign in" %}</a></li>
                    </ul>
                </div>
            </nav>
        </div>
      </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>&copy; <a href="http://siciarz.net">Zbigniew Siciarz</a> 2013</p>
        </div>
    </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-2.0.3.min.js"><\/script>')</script>
  <script defer src="{{ STATIC_URL }}js/alert.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  {% block extra-script %}{% endblock %}
</body>
</html>
