{% load i18n %}{% load staticfiles %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}variablestars.net{% endblock %}</title>
  <meta name="description" content="variablestars.net is an open database of amateur observations of variable stars with a clean and modern Web interface.">
  <meta name="author" content="@zsiciarz">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'build/style.css' %}">
  {% block extra-style %}{% endblock %}
</head>

<body>
      <header class="navbar navbar-default" role="navigation">
        <div class="container">
            <nav>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main' %}">variablestars.net</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'stars:star_list' %}">{% trans "Stars" %}</a></li>
                        <li><a href="{% url 'observers:observer_list' %}">{% trans "Observers" %}</a></li>
                        <li><a href="{% url 'observations:observation_list' %}">{% trans "Observations" %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'observations:add_observation' %}">{% trans "Submit observations" %}</a></li>
                            <li><a href="{{ current_observer.get_absolute_url }}">{% trans "My account" %}</a></li>
                            <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}">{% trans "Create account" %}</a></li>
                            <li><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
      </header>
      {% include "modals/jd_converter.html" %}
      <div class="navbar secondary">
          <div class="container">
              <div class="navbar-text" id="jd-clock"></div>
              {% if user.is_authenticated %}
                <p class="navbar-text">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ current_observer }}
                </p>
              {% endif %}
              <form class="navbar-form navbar-right" role="search" action="{% url 'stars:star_search' %}" method="get">
                  <div class="form-group">
                      <input type="text" name="q" class="form-control input-sm" placeholder="{% trans "Enter star name" %}">
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span> {% trans "Search" %}</button>
              </form>

          </div>
      </div>

    <div class="container">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }} fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
        <hr>
    </div>

    <footer>
        <div class="container">
            <p>&copy; <a href="https://siciarz.net">Zbigniew Siciarz</a> 2013 - 2016</p>
        </div>
    </footer>

  <script src="{% static 'build/app.js' %}"></script>
  {% block extra-script %}{% endblock %}
  {% include 'autocomplete_light/static.html' %}
</body>
</html>
