{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <h1>{% trans 'Welcome to variablestars.net!' %}</h1>
        <p>
        {% blocktrans %}
            <strong>variablestars.net</strong> is an open database of amateur observations
            of variable stars with a clean and modern Web interface.
        {% endblocktrans %}
        </p>
    </div>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ stars_count }}</h1>
            <h2>{% trans "stars" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observers_count }}</h1>
            <h2>{% trans "observers" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observations_count }}</h1>
            <h2>{% trans "observations" %}</h2>
        </div>
    </div>
{% endblock %}
