{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <h1>{% trans 'Welcome to variablestars.net!' %}</h1>
        <p>
        {% blocktrans %}
            <strong>variablestars.net</strong> is an open database of amateur observations
            of variable stars with a clean and modern Web interface.
        {% endblocktrans %}
        </p>
    </div>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ stars_count }}</h1>
            <h2>{% trans "stars" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observers_count }}</h1>
            <h2>{% trans "observers" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observations_count }}</h1>
            <h2>{% trans "observations" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2>{% trans "Top stars" %}</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{% trans "Star" %}</th>
                        <th>{% trans "Observations" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for star in top_stars|slice:":5"%}
                    <tr>
                        <td><a href="{% url 'stars:star_detail' pk=star.star_id %}">{{ star.star__name }}</a></td>
                        <td>{{ star.observations_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
