{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block content %}
    <h1><span class="glyphicon glyphicon-star-empty"></span> {% trans 'Stars' %}</h1>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ total_star_count }}</h1>
            <h2>{% trans "stars" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>337</h1>
            <h2>{% trans "observed in last month" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>59</h1>
            <h2>{% trans "observed by you" %}</h2>
        </div>
    </div>
    <h2>{% trans "List of variable stars" %}</h2>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th class="hidden-xs">{% trans "Number of observations" %}</th>
                <th>{% trans "Brightness" %}</th>
                <th>{% trans "Events" %}</th>
                <th class="hidden-xs">{% trans "Observing?" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for star in star_list %}
            <tr>
                <td><a href="{{ star.get_absolute_url }}">{{ star.name }}</a></td>
                <td>{{ star.variable_type }}</td>
                <td class="hidden-xs">417</td>
                <td>{{ star.max_magnitude }} &ndash;
                    <span class="{% if star.min_magnitude > 11 %}text-muted{% endif %}">{{ star.min_magnitude }}</span></td>
                <td>{% trans "eclipse" %}</td>
                <td class="hidden-xs"><span class="{% cycle 'text-muted' 'text-muted' '' %} glyphicon glyphicon-eye-open"></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% bootstrap_paginate page_obj range=10 %}
{% endblock %}
