{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block title %}{% trans "List of variable stars" %}{% if constellation %} {% trans "in" %} {{ constellation }}{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1><span class="glyphicon glyphicon-star-empty"></span> {% trans 'Stars' %}</h1>
        </div>
        <div class="col-sm-3">
            <div class="well star-visibility">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {% trans "Filter" %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% if request.session.limiting_magnitude %}
                            <li><a href="?limiting_magnitude=None"><span class="glyphicon glyphicon-ok"></span> {% trans "stars visible for me" %}</a></li>
                        {% else %}
                        <li><a href="?limiting_magnitude={% if current_observer %}{{ current_observer.limiting_magnitude }}{% else %}6.0{% endif %}"><span class="glyphicon glyphicon-ok" style="visibility: hidden;"></span> {% trans "stars visible for me" %}</a></li>
                        {% endif %}
                        {% if request.session.stars_with_observations %}
                            <li><a href="?stars_with_observations=False"><span class="glyphicon glyphicon-ok"></span> {% trans "stars with observations" %}</a></li>
                        {% else %}
                        <li><a href="?stars_with_observations=True"><span class="glyphicon glyphicon-ok" style="visibility: hidden;"></span> {% trans "stars with observations" %}</a></li>
                        {% endif %}
                    </ul>

                </div>
                {% if request.session.limiting_magnitude %}
                    <p>{% trans "Showing stars &gt;" %} <strong>{{ request.session.limiting_magnitude }}</strong> mag.
                {% else %}
                    <p>{% trans "Showing <strong>all</strong> stars" %}
                {% endif %}
                {% if request.session.stars_with_observations %}
                    <br>
                    {% trans "<strong>with</strong> observations" %}
                {% endif %}
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ total_star_count }}</h1>
            <h2>{% trans "stars" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observed_last_month_count }}</h1>
            <h2>{% trans "observed in last month" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            {% if current_observer %}
                <h1>{{ observed_by_you_count }}</h1>
                <h2>{% trans "observed by you" %}</h2>
            {% endif %}
        </div>
    </div>
    <h2>{% trans "List of variable stars" %}{% if constellation %} {% trans "in" %} {{ constellation }}{% endif %}</h2>

    {% include "stars/stars_table.html" %}

    {% if is_paginated %}
        {% bootstrap_paginate page_obj range=10 %}
    {% endif %}
{% endblock %}
