{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block title %}{% trans "List of variable stars" %}{% if constellation %} {% trans "in" %} {{ constellation }}{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1><span class="glyphicon glyphicon-star-empty"></span> {% trans 'Stars' %}</h1>
        </div>
        <div class="col-sm-3">
            <div class="well star-visibility">
                {% include "stars/stars_filter.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ total_star_count }}</h1>
            <h2>{% trans "stars" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ observed_last_month_count }}</h1>
            <h2>{% trans "observed in last month" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            {% if current_observer %}
                <h1>{{ observed_by_you_count }}</h1>
                <h2>{% trans "observed by you" %}</h2>
            {% endif %}
        </div>
    </div>
    <h2>{% trans "List of variable stars" %}{% if constellation %} {% trans "in" %} {{ constellation }}{% endif %}</h2>

    {% if star_list %}
        {% include "stars/stars_table.html" %}
    {% else %}
        <p>{% trans "There are no variable stars matching the criteria." %}</p>
    {% endif %}

    {% if is_paginated %}
        {% bootstrap_paginate page_obj range=10 %}
    {% endif %}
{% endblock %}
