{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load stars_tags %}

{% block title %}{{ star.name }} | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-9">
            <h1><span class="glyphicon glyphicon-star-empty"></span> {{ star }}</h1>
            <ul class="list-inline">
                <li>
                    <span class="glyphicon glyphicon-star"></span>
                    <a href="{% url 'stars:constellation_list' constellation=star.constellation %}">{{ star.get_constellation_display }}</a>
                </li>
                {% if star.variability_type %}
                    <li>
                        <span class="glyphicon glyphicon-tag"></span>
                        <a href="{{ star.variability_type.get_absolute_url }}">{{ star.variability_type }}</a>
                    </li>
                {% endif %}
                <li>
                    <span class="glyphicon glyphicon-signal"></span>
                    {% magnitude star.max_magnitude %} &ndash; {% magnitude star.min_magnitude %} mag.
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="well star-visibility">
                {% if body.alt > 0 %}
                    <h3>{% trans "visible now!" %}</h3>
                    {% trans "Alt." %} {{ body.alt|round_degrees }}°
                    &nbsp;
                    {% trans "Az." %} {{ body.az|round_degrees }}°
                {% else %}
                    <h3 class="text-muted">{% trans "not visible" %}</h3>
                    <span class="text-muted">
                        {% if next_rising %}
                            {% trans "Next rising" %}: {{ next_rising }}
                        {% else %}
                            {% trans "Never rises at this location." %}
                        {% endif %}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 big-stat">
            <h1>{{ star.observations.count }}</h1>
            <h2>{% trans "observations" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            <h1>{{ star.observers_count }}</h1>
            <h2>{% trans "observers" %}</h2>
        </div>
        <div class="col-xs-4 big-stat">
            {% if current_observer %}
                <h1>{{ observations_by_observer.count }}</h1>
                <h2>{% trans "your observations" %}</h2>
            {% else %}
                <h1>21</h1>
                <h2>TODO</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>
                {{ star.name }} {% trans "lightcurve" %}
                {% if star.is_periodic %}
                    <a href="#" id="toggle-chart" class="btn btn-primary">{% trans "Toggle phase chart" %}</a>
                {% endif %}
            </h2>
            <div class="well lightcurve" data-csv-source="{% url 'stars:recent_observations' pk=star.pk %}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2>{% trans "Top observers" %}</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{% trans "Observer" %}</th>
                        <th>{% trans "Observations" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observer in star.top_observers|slice:":5" %}
                    <tr>
                        <td><a href="{% url 'observers:observer_detail' pk=observer.observer_id %}">{{ observer.observer__aavso_code }}</a></td>
                        <td>{{ observer.observations_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-9">
            <h2>{% trans "Recent observations" %}</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{% trans "Observer" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Brightness" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observation in star.recent_observations|slice:":5"%}
                    <tr>
                        <td><a href="{{ observation.observer.get_absolute_url }}">{{ observation.observer.aavso_code }}</a></td>
                        <td>{{ observation.jd|floatformat:4 }}</td>
                        <td>{{ observation.magnitude }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 catalog-data">
            <h2>{% trans "Catalog data" %}</h2>
            <div class="well">
                <dl class="dl-horizontal">
                    <dt>{% trans "Name" %}</dt>
                    <dd>{{ star.name }}</dd>
                    <dt>{% trans "Type of variability" %}</dt>
                    <dd>{{ star.variability_type }}</dd>
                    <dt>{% trans "Right ascension" %}</dt>
                    <dd>{{ star.ra }}</dd>
                    <dt>{% trans "Declination" %}</dt>
                    <dd>{{ star.dec }}</dd>
                    <dt>{% trans "Maximum brightness" %}</dt>
                    <dd>{{ star.max_magnitude }} mag.</dd>
                    <dt>{% trans "Minimum brightness" %}</dt>
                    <dd>{{ star.min_magnitude }} mag.</dd>
                    {% if star.is_periodic %}
                        <dt>{% trans "Epoch" %}</dt>
                        <dd>JD <span class="epoch">{{ star.epoch }}</span></dd>
                        <dt>{% trans "Period" %}</dt>
                        <dd><span class="period">{{ star.period }}</span> {% trans "days" %}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="col-sm-7">
            <h2>{% trans "Links and references" %}</h2>
            <div class="well">
                <ul>
                    <li><a href="http://www.sai.msu.su/groups/cluster/gcvs/cgi-bin/search.cgi?search={{ star.get_gcvs_search_name }}">{% trans "Full GCVS query for" %} {{ star.name }}</a></li>
                    <li><a href="http://www.aavso.org/cgi-bin/vsp.pl?name={{ star.name }}">{% trans "AAVSO chart for" %} {{ star.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra-script %}
    <script defer type="text/coffeescript" src="{{ STATIC_URL }}js/lightcurve.coffee{% if debug %}?{% now "U" %}{% endif %}"></script>
{% endblock %}
