{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Type of variability" %}: {{ variabilitytype.code }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1><span class="glyphicon glyphicon-tag"></span>{% trans "Type of variability" %}: {{ variabilitytype.code }}</h1>
            {% if variabilitytype.short_description %}
                {{ variabilitytype.short_description }}
            {% endif %}
        </div>
    </div>
    <blockquote>
        <p>{{ variabilitytype.long_description }}</p>
        <small><cite>General Catalog of Variable Stars</cite></small>
    </blockquote>

{% endblock %}
